html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F0F4FF;
    font-family: "Libre Franklin", sans-serif;
    min-height: 100vh;
}

footer {
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313C66;
    color: #fff;
    margin-top: auto;
    text-decoration: none;
}

.home,
.edit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home img,
.edit img {
    width: 60px;
    height: 60px;
}

.edit {
    padding: 10px 13vw;
    width: 40vw;
    margin-right: 5vw;
}

.home {
    padding: 10px 13vw;
    width: 40vw;
    margin-left: 5vw;
}

.edit {
    border-radius: 60px;
    padding: 10px 13vw;
    width: 40vw;
    margin-right: 5vw;
    text-decoration: none;
}

p {
    color: #E1E5F6;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}

.home p {
    color: #E1E5F6;
}

#userProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

#userFullName {
    display: flex;
    justify-content: center;
    gap: 0.7em;
    font-size: 24px;
    font-weight: 600;
    color: #101E52;
    margin-bottom: 1em;
    text-align: center;
    margin-top: 1em;
}

#familyCode {
    color: #101E52;
    font-size: 30px;
    margin-bottom: 2em;
    text-align: center;
}

#familyCodeValue {
    display: block;
    color: #101E52;
    font-size: 32px;
    font-weight: 500;
    margin-top: 0.2em;
    letter-spacing: 2px;
    text-align: center;
}

.logo {
    margin-top: 3em;
    margin-bottom: 0em;
    width: 80px;
    height: 80px;
}

.profile-actions {
    width: 100%;
    margin-top: auto;
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}